<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduled intro date:</strong>
  <%= @introduction.scheduled_intro_date %>
</p>

<%= link_to 'Edit', edit_introduction_path(@introduction) %> |
<%= link_to 'Back', introductions_path %>
